* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 700px;
    width: 100%;
    background-color: white;
    box-shadow: 0.5px 1px 10px black;
    padding: 25px 30px;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 50%;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sign-up-title {
    font-size: 25px;
    font-weight: 200;
    position: relative;
}

.content .sign-up-title::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background: #089F76;
    left: 0;
    top: 35px;

}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0 12px 0;

}

form .user-details .input-box {

    width: calc(100% / 2 - 20px);

    margin-bottom: 15px;


}

/*input*/
form .user-details .input-box input {
    outline: none;
    height: 45px;
    width: 100%;
    border-radius: 5px;
    border: 1.5px #ccc solid;
    font-size: 16px;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}

/* when you click on the input*/
form .user-details .input-box input:focus,
form .user-details .input-box input:valid {
    border-color: yellowgreen;

}

.user-details .input-box .info {
    display: block;
    font-weight: 500;


}

/*create an account button*/
form .Create-Button input {
    height: 100%;
    width: 50%;
    outline: none;
    background-color: #089F76;
    border: none;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-left: 25%;
    color: white;



}

form .Create-Button {
    height: 45px;


}



form .UAE-Pass-Button a .UaePassP {
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;



}

.topnav {
    overflow: hidden;
    background-color: #f6f5f5;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0.5px 1px 5px black;
}

.topnav a {
    margin-top: 10px;
    float: right;
    display: block;
    color: #0c0c0c;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:not(#reg):hover {
    background-color: #089F76;
    color: rgb(245, 245, 245);
    border-radius: 30px;
    box-shadow: 0.5px 1px 5px black;

}

.logo {
    float: left;
    margin-right: 15px;
    width: 70px;
}

.title-content {
    width: 40%;
    position: absolute;
    margin-top: 36%;
    margin-right: 43%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: aliceblue;
    padding-left: 4px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    background-attachment: fixed;


}

.title-content p {
    text-align: justify;
    font-size: 25px;

}

.title-photo {
    width: 50%;
    position: absolute;
    margin-top: 5%;
    margin-right: 20%;
    height: 30px;

}

.title-photo img {
    width: 500px;
    height: 500px;
    background-attachment: fixed;
    opacity: 0.3;
    border-radius: 30px;

}

#reg {
    background-color: #089F76;
    border-radius: 30px;
    color: white;
    box-shadow: 0.5px 1px 5px black;
}