*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 20px 4%;
    background-color: #E9E9E9;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow:0.5px 0  10px rgba(0, 0, 0, 0.4);
}

 .heading img {
     float: left;
     margin-top: -20px;
     margin-left: -15px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    padding: 8px 15px;
    border-radius: 22px;
    transition: 0.2s ease-in;
  }
  
  nav ul li a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  .login{
    background-color: #089F76;
    color: white;
    padding: 8px 17px;
    border-radius: 22px;
  }
  
  nav ul li:hover {
    background-color: #089F76;
  }
  
  nav ul li a:hover {
    color: white;
  }


.frame{
    width: 440px;
    height: 490px;
    background: transparent;
    color: #fff;
    border-radius: 15px;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(70px);
  

}
.frame h1{
    font-size: 36px;
    text-align: center;

}
.frame .input-area{
    position: relative;
    width: 100%;
    height:50px;
    margin: 30px 0;
}

.input-area input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}
.input-area input::placeholder{
    color: #fff;

}
.input-area i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}

.frame .check-area{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.check-area label input{
    accent-color: #fff;
    margin-right: 3px;
}

.check-area a{
    color: #fff;
    text-decoration: none;

}

.check-area a:hover{
    text-decoration: underline;
}
.frame .Login-btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.frame .Register-Page-Link{
    font-size: 14.5px;
    text-align: center;
    margin:30px 0 15px;
}

.Register-Page-Link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.Register-Page-Link p a:hover{
    text-decoration: underline;
   
}


.UAE-Pass-Button a .UaePassP {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    margin:12px 0 15px;
    
   



}







